<div class="container">
    <nav>
      <button class="btn btn-primary">主页</button>
    </nav>
    <router-outlet></router-outlet>
</div>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="哈哈">
    <ng-template ngbPanelContent>
      哈哈😄😄😄😄
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>哼</b> 哼 &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
        哼哼😕😕😕😕
    </ng-template>
  </ngb-panel>
</ngb-accordion>


<ckeditor [(ngModel)]="ckeditorContent" debounce="500"  [config]="config">
</ckeditor>
{{ckeditorContent}}

<p id="test"><a href="#">test</a></p>

